.custom-header {
  background-color: $primary-color;
  height: 80px;
  margin-bottom: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}

.top-100 {
  height: 100px;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .logo {
    margin-right: 2rem;
    height: 50px;
    width: 50px;
  }

  h1 {
    color: #fff;
    font-weight: lighter;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.burger {
  height: 4px;
  width: 40px;
  background-color: #fff;
  transform: translate(0, -50%);

  &:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 4px;
    width: 40px;
    background-color: #fff;
  }

  &:after {
    position: absolute;
    content: '';
    top: 10px;
    height: 4px;
    width: 40px;
    background-color: #fff;
  }
}

.flex-left {
  display: flex;
  align-items: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: all 0.5s;

  &:hover > .burger {
    opacity: 0.8;
    transition: all 0.5s;
  }
}

.hidden-nav {
  position: fixed;
  right: -1000px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 30%;
  background-color: $primary-color;
  z-index: 10;
  border-left: 2px solid #2c379e;
  padding: 2rem;
  transition: 1s ease-out;

  &.navbar-open {
    right: 0%;
  }

  .navigation-heading {
    position: relative;
    margin-bottom: 2rem;
  }

  h4 {
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
  }

  #close-btn {
    position: absolute;
    right: 0;
    top: 0.5rem;
    height: 33px;
    width: 33px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    .x-left {
      position: absolute;
      right: 0;
      top: 0.6rem;
      bottom: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;

      transform: rotate(-45deg);
    }

    .x-right {
      position: absolute;
      right: 0;
      top: 0.6rem;
      bottom: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;

      transform: rotate(45deg);
    }
  }

  .navigation-page-heading {
    h3 {
      color: #fff;
      font-size: 1.5rem;
      font-weight: lighter;
      display: inline-block;
      border-bottom: 1px solid #fff;
      padding-right: 2rem;
      margin-bottom: 0.5rem;
    }

    ul {
      line-height: 1.5;
      font-size: 1.3rem;

      li {
        list-style-type: none;
        color: #fff;

        a {
          color: #fff;
          text-decoration: none;
          border-bottom: 1px solid transparent;

          transition: all 0.5s;

          &:hover {
            opacity: 0.8;
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}
