.container-page {
  .content {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .position {
      display: inline-table;
      border-bottom: 1px solid #000;
      padding: 0 1rem;
      font-weight: bold;
    }

    .name {
      display: inline;
    }
  }
  /* Form for Kontakt and Anmeldungs formular */
  form {
    margin-bottom: 3rem;

    .contact-form-layout {
      display: flex;
      border-bottom: 1px solid #333;
      margin-bottom: 1rem;

      .form-width {
        width: 100%;
      }

      .contact-form-label {
        margin-right: 0.5rem;
        padding: 0.5rem 0 0 0;
        font-size: 1.1rem;
        width: 150px;
      }

      input[type='text'],
      input[type='email'],
      input[type='tel'] {
        border: none;
        padding: 0.5rem 1rem 0 1rem;
        font-size: 1.3rem;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }

    textarea {
      border: 1px solid #33333320;
      border-radius: 3px;
      padding: 0.5rem 1rem 0 1rem;
      font-size: 1.3rem;
      width: 100%;
      resize: none;
      overflow: auto;

      &:focus {
        outline: none;
      }
    }
  }

  input[type='submit'] {
    width: 100%;
    padding: 1rem 0.5rem;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: all 0.5s;
    margin-top: 0.3rem;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }

  .anfahrt {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: 1px solid #000;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.heading-kontakt {
  margin-bottom: 0.8rem;
  padding-right: 0.5rem;
  border-bottom: 2px solid #333;
  display: inline-block;
}

.form-width-flex {
  display: flex;
}

.form-radio {
  margin-bottom: 2rem;

  .wpcf7-form-control-wrap {
    display: flex;
    flex-direction: row;

    .wpcf7-list-item {
      display: flex;
      margin: 0 0 0.3rem 0;
    }
  }
}

.contact-form-label.schiesszeiten {
  width: 100% !important;
}

p.paragraph-mb1 {
  margin-bottom: 1rem;
}
