.page-head {
  margin: 0 0 2rem 0;
  border-bottom: 2px solid #000;
}

.content-wrap-paragraph {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: Lighter;
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
}
