.card {
  position: relative;
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;

  a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }

  .thumbnail {
    margin-bottom: 0.5rem;
    float: left;
    margin-right: 1.3rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.3;

    &:first-of-type {
      margin-top: 0.5rem;
    }
  }

  h3.heading-post {
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
    display: block;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }

  .read-more {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: $primary-color;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.5s;
    border-radius: 2px;

    &:hover {
      opacity: 0.8;
    }
  }

  .read-more-wrap {
    margin-top: 3rem;
  }

  p {
    a {
      text-decoration: underline;
    }
  }
}

.wp-post-image {
  max-width: 100%;
  height: auto;
}

.screen-reader-text {
  display: none;
}

small {
  a {
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.navigation.pagination {
  .page-numbers {
    text-decoration: none;
    color: $primary-color;
    margin-right: 0.5rem;

    &.current {
      font-size: 1.4rem;
      color: red;
    }
  }
}

/* Uploads pdf files */
.pdf-wrap {
  margin-bottom: 1rem;
  font-size: 1.2rem;

  a {
    text-decoration: none;
    font-weight: 1.2rem;
    color: #333;
    transition: all 0.5s;
    border-bottom: 2px solid $primary-color;

    &:hover {
      opacity: 0.8;
    }
  }
}
