.search {
  margin-bottom: 1rem;

  #s {
    width: 70%;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0;
    height: 2rem;

    &:focus {
      outline: none;
    }
  }

  .search-btn {
    border: none;
    border-radius: 0;
    padding: 0.3rem 0.5rem;
    margin-left: -4px;
    background-color: #0e1767;
    color: #fff;
    height: 2rem;

    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }
  }
}

.search-count {
  font-size: 3.5rem;
  margin-right: 1rem;
  display: inline;
}

.search-output {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.search-input {
  display: inline;
}
