.slick-list {
  margin-top: 3rem;
}

.slick-slide {
  border: 1px solid #333;
  margin-right: 0.5rem;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-lightbox .slick-next:before,
.slick-lightbox .slick-prev:before {
  color: #fff;
}

.slick-lightbox {
  border-width: 0 !important;
  border: none !important;

  &:focus {
    outline: none;
  }

  .slick-slide {
    border: none;
  }
}
