/*
 Project Structure:
 - create dist folder
 - create scss folder -> create main.scss

 Terminal:
 - (npm --version) (check if npm is installed)
 - npm init
 - npm install node-sass -D

 package.json:
 - replace "test": "..." with "sass": "node-sass -w scss/ -o dist/css/ --recursive"

 Terminal:
 - npm run sass
*/

@import 'utilities';
@import 'header';
@import 'post';
@import 'search';
@import 'page';
@import 'slick_slider';
@import 'kontakt_&_form';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
