<h3 class="heading-kontakt">Angaben zum Verein</h3>
<br>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Vereinsname:
  </div>
  <div class="form-width">
    [text* vereinsname placeholder "Vereinsname (Sektion)"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Vereinssitz:
  </div>
  <div class="form-width">
    [text* vereinssitz placeholder "Vereinssitz"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Vereinskat.:
  </div>
  <div class="form-width">
    [text* vereinskategorie placeholder "Vereinskategorie"]
  </div>
</div>
<br>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3 class="heading-kontakt">Kontaktperson (Gruppenchef)</h3>
<br>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Name:
  </div>
  <div class="form-width">
    [text* your-name placeholder "Name"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Adresse:
  </div>
  <div class="form-width">
    [text* adresse placeholder "Adresse"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    PLZ/Ort:
  </div>
  <div class="form-width">
    [text plz-ort placeholder "PLZ / Ort"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Email:
  </div>
  <div class="form-width">
    [email* email  placeholder "Email"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Telefon:
  </div>
  <div class="form-width">
  [tel handy placeholder "Handy"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Telefon:
  </div>
  <div class="form-width">
  [tel festnetz placeholder "Festnetz"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Kommentar
  </div>
</div>
<div class="form-width my-2">
  [textarea your-message-kontakt placeholder "Kommentar Kontaktperson"]
</div>
<br>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3>Angaben zur Gruppe</h3>
<br>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Gruppenname:
  </div>
  <div class="form-width">
    [text* gruppenname placeholder "Gruppenname"]
  </div>
</div>

<h3 class="heading-kontakt">Schütze 1</h3>
<div class="contact-form-layout">
  <div class="contact-form-label">
    Name:
  </div>
  <div class="form-width">
    [text* schuetze1 placeholder "Name"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Jahrgang:
  </div>
  <div class="form-width">
    [text* jahrgang1 placeholder "Jahrgang"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Lizens:
  </div>
  <div class="form-width">
    [text* lizensnummer1 placeholder "Lizensnummer"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Gewehr
  </div>
</div>
<div class="form-radio">
  [radio gewehr1 use_label_element default:4 "Stgw. 90" "Stgw. 57/02" "Stgw. 57/03" "Standardgewehr" "Karabiner"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3 class="heading-kontakt">Schütze 2</h3>
<div class="contact-form-layout">
  <div class="contact-form-label">
    Name:
  </div>
  <div class="form-width">
    [text* schuetze2 placeholder "Name"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Jahrgang:
  </div>
  <div class="form-width">
    [text* jahrgang2 placeholder "Jahrgang"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Lizens:
  </div>
  <div class="form-width">
    [text* lizensnummer2 placeholder "Lizensnummer"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Gewehr
  </div>
</div>
<div class="form-radio">
  [radio gewehr2 use_label_element default:4 "Stgw. 90" "Stgw. 57/02" "Stgw. 57/03" "Standardgewehr" "Karabiner"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3 class="heading-kontakt">Schütze 3</h3>
<div class="contact-form-layout">
  <div class="contact-form-label">
    Name:
  </div>
  <div class="form-width">
    [text* schuetze3 placeholder "Name"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Jahrgang:
  </div>
  <div class="form-width">
    [text* jahrgang3 placeholder "Jahrgang"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Lizens:
  </div>
  <div class="form-width">
    [text* lizensnummer3 placeholder "Lizensnummer"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Gewehr
  </div>
</div>
<div class="form-radio">
  [radio gewehr3 use_label_element default:4 "Stgw. 90" "Stgw. 57/02" "Stgw. 57/03" "Standardgewehr" "Karabiner"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3 class="heading-kontakt">Schütze 4</h3>
<div class="contact-form-layout">
  <div class="contact-form-label">
    Name:
  </div>
  <div class="form-width">
    [text* schuetze4 placeholder "Name"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Jahrgang:
  </div>
  <div class="form-width">
    [text* jahrgang4 placeholder "Jahrgang"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Lizens:
  </div>
  <div class="form-width">
    [text* lizensnummer4 placeholder "Lizensnummer"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Gewehr
  </div>
</div>
<div class="form-radio">
  [radio gewehr4 use_label_element default:4 "Stgw. 90" "Stgw. 57/02" "Stgw. 57/03" "Standardgewehr" "Karabiner"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

<div class="contact-form-layout paragraph">
  <div class="contact-form-label schiesszeiten">
    <h3>Gewünschte Schießzeit (-en)<h3>
  </div>
</div>
<p class="paragraph-mb1">(Mehrere Optionen machen es uns einfacher einen geeigneten 
    Termin zu finden)</p>
<div class="form-radio">
  [checkbox schiesszeiten use_label_element "FR, 11.Oktober 20-22 Uhr" "SA, 12.Oktober 20-22 Uhr"]
<br>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Schiesszeit:
  </div>
  <div class="form-width">
    [text* schiesszeit placeholder "20:00 Uhr"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Kommentar
  </div>
</div>
<div class="form-width my-2">
  [textarea schiesszeit-kommentar placeholder "Kommentar Schiesszeiten"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

<h3 class="heading-kontakt">Bankverbindung</h3>
<p class="paragraph-mb1">(Wenn Sie wollen, können Sie noch Ihre Bankverbindung angeben) 
</p>
<div class="contact-form-layout">
  <div class="contact-form-label">
    IBAN:
  </div>
  <div class="form-width">
    [text* IBAN placeholder "IBAN oder Kontonummer"]
  </div>
</div>

<div class="contact-form-layout">
  <div class="contact-form-label">
    Anschrift Bank
  </div>
</div>
<div class="form-width">
  [textarea anschrift-bank placeholder "Anschrift Bank"]
</div>

<!-- --- --- --- --- --- --- --- --- --- -->

[submit "Senden"]